/* Start of variable */
:root {
  --main-color: #10cab7;
  --main-secondary: #2c4755;
}
/* End of variable */
/* ==========================The start of Global Rules====================== */
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "work sans", "sans-serif";
  position: relative;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.special-heading {
  color: #ebeced;
  font-weight: 800;
  letter-spacing: -5px;
  font-size: 100px;
  margin: 0;
  text-align: center;
}

.special-heading + p {
  margin-top: -30px;
  color: #797979;
  text-align: center;
}

@media (max-width: 767px) {
  .special-heading {
    font-size: 60px;
  }

  .special-heading + p {
    margin-top: -20px;
  }
}
/* ==============The End of Global Rules================ */
/* Start Header styling  */
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.header .logo {
  width: 60px;
}

.header .links {
  position: relative;
}

.header .links .icons {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.header .links .icons:hover span:nth-child(2) {
  width: 100%;
}

.header .links .icons span {
  background-color: #333;
  height: 2px;
  margin-bottom: 3px;
}

.header .links .icons span:first-child {
  width: 100%;
}
.header .links .icons span:nth-child(2) {
  width: 70%;
  transition: 0.3s;
}
.header .links .icons span:last-child {
  width: 100%;
}
/* Start Of The List Style */
.header .links ul {
  list-style: none;
  background-color: #eee;
  margin: 0;
  padding: 0;
  position: absolute;
  min-width: 200px;
  right: 0;
  top: calc(100% + 24px);
  display: none;
  z-index: 1;
}

.header .links:hover ul {
  display: block;
}

.header .links ul::before {
  content: "";
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #eee transparent;
  position: absolute;
  right: 5px;
  top: -20px;
}

.header .links ul li a {
  display: block;
  padding: 15px;
  transition: 0.3s;
  text-decoration: none;
  color: #333;
}

.header .links ul li a:hover {
  padding-left: 25px;
  font-weight: 500;
}

.header .links ul li:not(:last-child) a {
  border-bottom: 1px solid #ddd;
}
/* End Of The List Style */

/* End Header styling  */

/* start of landing */
.landing {
  background-image: url(../image/pexels-pixabay-355747.jpg);
  background-size: cover;
  min-height: calc(100vh - 64px);
  position: relative;
}

.landing .elements {
  position: absolute;
  top: 30%;
  left: 50%;
  text-align: center;
  width: 320px;
  max-width: 100%;
  transform: translate(-50%, -50%);
}

.elements h1 {
  margin: 0;
  font-weight: bold;
  font-size: 50px;
  color: var(--main-color);
}

.elements p {
  font-size: 19px;
  line-height: 1.8;
}
/* End of landing */

/* Strart fo the feature */
.feature {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f5f3f3;
}

.feature .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.feature .feat {
  padding: 20px;
  text-align: center;
  transition: 0.5s;
}

.feature .feat:hover {
  transform: translate(0, -10%);
  box-shadow: 5px 5px 5px -5px #ddd;
}
.feature .feat i {
  color: var(--main-color);
}

.feature .feat h3 {
  font-weight: 800px;
  margin: 20px 0;
}

.feature .feat p {
  color: #777;
  line-height: 1.8;
  font-size: 19px;
}
/* end fo the feature */

/* Start Services */
.services {
  padding-top: 60px;
  padding-bottom: 60px;
}

.services-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  margin-top: 100px;
}

.services-content .srv {
  display: flex;
  margin-bottom: 40px;
  gap: 20px;
}

@media (max-width: 767px) {
  .services-content .srv {
    flex-direction: column;
    text-align: center;
  }

  .services-content .srv i {
    align-self: center;
  }
}
.services-content .srv i {
  color: var(--main-color);
}

.services-content .srv .text {
  flex: 1;
}

.services-content .srv h3 {
  margin: 0;
}
.services-content .srv p {
  color: #777;
  line-height: 1.8;
  font-weight: 300;
}

.services-content .col .image {
  width: 260px;
  text-align: center;
  position: relative;
}

@media (max-width: 1200px) {
  .services-content .col .image {
    display: none;
  }
}

.services-content .col .image::after {
  content: "";
  position: absolute;
  right: -30px;
  top: -40px;
  background-color: var(--main-secondary);
  width: 80px;
  height: 130%;
  z-index: -1;
  border-radius: 10px;
}

.services-content .col .image img {
  width: 100%;
}
/* End Services */

/* Start protfolio */
.protfolio {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f5f3f3;
}

.protfolio .protfolio-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  margin-top: 100px;
}

.protfolio .protfolio-content .card {
  background-color: white;
  transition: 0.6s .3s;
  border-radius: 10px;
  
}

.protfolio .protfolio-content .card:hover {
  transform: scale(1.1);
}

.protfolio .protfolio-content:hover .card:not(:hover) {
  opacity: 0.4;
  transform: scale(1);
}

.protfolio .protfolio-content .card img {
  width: 100%;
  border-radius: 10px;
}

.protfolio .protfolio-content .card .text {
  padding: 20px;
}

@media (max-width: 767px) {
  .protfolio .protfolio-content .card .text {
    text-align: center;
  }
}

.protfolio .protfolio-content .card .text h3 {
  margin: 0;
}

.protfolio .protfolio-content .card .text p {
  color: #777;
  line-height: 1.8;
  margin-bottom: 0;
}

/* End protfolio */

/* Start About  */

.about {
  padding-top: 60px;
  padding-bottom: 60px;
}

.about .about-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 100px;
}

.about .about-content .image {
  position: relative;
  border-radius: 10px;
}

.about .about-content .image img {
  border-radius: 10px;
}

.about .about-content .image::before {
  content: "";
  position: absolute;
  width: 80px;
  height: calc(100% + 60px);
  background-color: #ebeced;
  top: -30px;
  left: -5px;
  z-index: -1;
}

.about .about-content .image::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 70%;
  top: -30px;
  right: -120px;
  border-left: 60px solid var(--main-color);
  z-index: -1;
  border-bottom: 70px solid var(--main-color);
}

.about .about-content .info {
  flex: 1;
  padding-left: 150px;
}

@media (max-width: 995px) {
  .about .about-content {
    flex-direction: column;
    justify-content: center;
  }

  .about .about-content .image {
    margin: 0 auto 50px;
  }

  .about .about-content .info {
    padding-left  : 0;
    text-align: center;
  }
}

.about .about-content .info p:first-of-type {
  font-weight: bold;
  line-height: 1.8;
  text-align: center;
  margin-bottom: 30px;
}
.about .about-content .info hr {
  width: 30%;
  border-color: var(--main-color);
  transition: 0.5s;
}

.about .about-content .info:hover hr {
  width: 100%;
  border-color: var(--main-secondary);
}

.about .about-content .info p:last-of-type {
  line-height: 1.5;
}
/* End About  */
/* Start conatact */
.contact {
  padding-bottom: 60px;
  padding-top: 60px;
  background-color: #f5f3f3;
}

.contact-content {
  padding-top: 60px;
  margin-bottom: 60px;
  text-align: center;
}

.contact-content .lable {
  font-size: 30px;
  font-weight: 800;
  color: var(--main-secondary);
}

.contact-content .mail {
  font-size: 30px;
  font-weight: 800;
}
.contact-content .mail a {
  text-decoration: none;
  color: var(--main-color);
}

.contact-content .media {
  font-size: 20px;
  margin-top: 20px;
}

.contact-content .media i {
  color: green;
}
/* End conatact */
/* Start Footer  */
footer {
  background-color: var(--main-secondary);
  padding: 20px;
  text-align: center;
  font-size: 30px;
  color: white;
}

@media (max-width: 767px) {
  footer,
  .contact-content .lable {
    font-size: 20px;
  }
}

footer span {
  color: var(--main-color);
  font-weight: bold;
}
/* End Footer  */
